
/****** Object:  Table [dbo].[CustomerRepresentatives]    Script Date: 06/30/2013 20:15:28 ******/
ALTER TABLE [dbo].[CustomerRepresentatives] DROP CONSTRAINT [FK_CustomerRepresentatives_Customers]
GO
DROP TABLE [dbo].[CustomerRepresentatives]
GO
